.form {
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
    border-width: 2px;
    margin-top: 69px;
    padding-top: 31px
}


.bar {
    width: 70px;
    border-top: 6.5px solid rgb(255, 180, 67);
    margin: 5px 0 50px 0;
}

.intro {
    width: 430px;
    margin-left: 31px;
}

.intro p {
    margin: 1px;
    font-size: 20px;
}

.intro a {
    text-decoration: none;
    color: white;
    background-color: #00AEFF;
    padding: 6px 8px;
}

@media screen and (max-width: 515px) {
    .intro  {
        width: 81vw;
    }
}

@media screen and (max-width: 775px) {
    .top, .intro {
        margin-left: 21px;
    }
}